@{
    ViewBag.Title = "RecognitionHack";

    var backgroundValue = Model.ToString("0.0");
    backgroundValue = backgroundValue[backgroundValue.Length - 1];
}

<body class="background-@backgroundValue">
    <div class="wrapper">
        <div class="wrapper__row">
            <p>#recognitionhack</p>
            <h1>score: @Model.ToString("n2")</h1>
        </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 276.6 141.9" class="logo">
        <defs>
            <style>.cls-1 { fill: #fff; }</style>
        </defs>
        <path class="cls-1" d="M12.1 106.6a4.5 4.5 0 0 0-2.7-.8q-3 0-5.1 3.1t-2.1 8.9v12.1H0v-25.7h2.3v5.7h.1a9.3 9.3 0 0 1 2.8-4.6 6.6 6.6 0 0 1 4.4-1.6 6.8 6.8 0 0 1 2.6.5v2.5zM16.5 117.2q0 5.3 2.4 8.3a8.2 8.2 0 0 0 6.7 3 13.6 13.6 0 0 0 8.4-3.2v2.5a15 15 0 0 1-8.9 2.8 10.1 10.1 0 0 1-8-3.6q-3.1-3.6-3.1-10a14.3 14.3 0 0 1 3.2-9.5 10.3 10.3 0 0 1 8.3-3.8 8.7 8.7 0 0 1 7.3 3.4q2.6 3.4 2.6 9.2v1h-19zm16.6-2.1a11.4 11.4 0 0 0-2.1-6.9 6.6 6.6 0 0 0-5.5-2.5 8 8 0 0 0-6 2.4 11.6 11.6 0 0 0-2.9 6.9h16.5zM43.4 107.8a1.9 1.9 0 0 1-1.4-.6 2 2 0 0 1-.6-1.5 1.9 1.9 0 0 1 .6-1.4 2 2 0 0 1 1.4-.6 2 2 0 0 1 1.5.6 1.9 1.9 0 0 1 .6 1.4 2.1 2.1 0 0 1-2.1 2.1zm0 22.5a1.9 1.9 0 0 1-1.4-.6 2 2 0 0 1-.6-1.4 1.9 1.9 0 0 1 .6-1.4 2 2 0 0 1 1.4-.6 2 2 0 0 1 1.5.6 1.9 1.9 0 0 1 .6 1.4 1.9 1.9 0 0 1-.6 1.4 2 2 0 0 1-1.5.6zM71.9 129q-2.7 1.6-7.7 1.6a13.1 13.1 0 0 1-9.6-3.6 12.4 12.4 0 0 1-3.7-9.2q0-6.5 3.9-10.3t10.5-3.8q4.5 0 6.6 1.2v6.7a9 9 0 0 0-5.5-1.9 7.3 7.3 0 0 0-5.4 2 7.4 7.4 0 0 0-2 5.5 7.3 7.3 0 0 0 1.9 5.3 7 7 0 0 0 5.2 1.9 10.5 10.5 0 0 0 5.8-1.9v6.5zM89.3 130.5q-6.4 0-10.1-3.6t-3.7-9.8q0-6.4 3.8-10t10.3-3.6q6.4 0 10 3.6a12.8 12.8 0 0 1 3.6 9.5q0 6.4-3.7 10.1t-10.2 3.8zm.2-20.8a5.3 5.3 0 0 0-4.4 1.9 8.5 8.5 0 0 0-1.6 5.5q0 7.4 6 7.4t5.7-7.6q0-7.2-5.7-7.2zM133.6 127q0 7.1-4.1 11.1t-12 3.9a19 19 0 0 1-8.2-1.5v-6.7a15.7 15.7 0 0 0 8 2.3 8.6 8.6 0 0 0 6.2-2.1 7.6 7.6 0 0 0 2.2-5.7v-2h-.1a8.8 8.8 0 0 1-8 4.3 9.6 9.6 0 0 1-7.8-3.5q-2.9-3.5-2.9-9.3t3.2-10.3a10.5 10.5 0 0 1 8.4-3.8 7.8 7.8 0 0 1 7 3.6h.1v-3h7.9V127zm-7.8-9.4v-2a6.2 6.2 0 0 0-1.4-4.1 4.7 4.7 0 0 0-3.7-1.7 4.8 4.8 0 0 0-4.1 2.1 9.7 9.7 0 0 0-1.5 5.8 8.2 8.2 0 0 0 1.4 5.1 4.7 4.7 0 0 0 3.9 1.9 4.8 4.8 0 0 0 4-1.9 7.8 7.8 0 0 0 1.4-5.2zM165 129.9h-7.9v-14.3q0-6-4.3-6a4.2 4.2 0 0 0-3.4 1.6 6 6 0 0 0-1.3 4v14.6h-7.9v-25.6h7.9v4.1h.1a9.1 9.1 0 0 1 8.2-4.7q8.5 0 8.5 10.6v15.7zM175.3 100.2A4.6 4.6 0 0 1 172 99a3.8 3.8 0 0 1-1.3-2.9 3.7 3.7 0 0 1 1.3-2.9 5.4 5.4 0 0 1 6.6 0 3.7 3.7 0 0 1 1.3 2.9 3.8 3.8 0 0 1-1.3 3 4.7 4.7 0 0 1-3.3 1.1zm3.9 29.7h-7.9v-25.7h7.9v25.7zM201.4 129.6a11.7 11.7 0 0 1-5.3.9q-8.4 0-8.4-8.7v-11.7h-4.2v-5.8h4.2v-5.6l7.9-2.3v7.8h5.8v5.8h-5.8v10.4q0 4 3.2 4a5.4 5.4 0 0 0 2.6-.7v5.9zM209.8 100.2a4.6 4.6 0 0 1-3.3-1.2 3.8 3.8 0 0 1-1.3-2.9 3.7 3.7 0 0 1 1.3-2.9 5.4 5.4 0 0 1 6.6 0 3.7 3.7 0 0 1 1.3 2.9 3.8 3.8 0 0 1-1.3 3 4.7 4.7 0 0 1-3.3 1.1zm3.9 29.7h-7.9v-25.7h7.9v25.7zM232.6 130.5q-6.4 0-10.1-3.6t-3.7-9.8q0-6.4 3.8-10t10.3-3.6q6.4 0 10 3.6a12.8 12.8 0 0 1 3.6 9.5q0 6.4-3.7 10.1t-10.2 3.8zm.2-20.8a5.3 5.3 0 0 0-4.4 1.9 8.5 8.5 0 0 0-1.6 5.5q0 7.4 6 7.4t5.7-7.6q.1-7.2-5.7-7.2zM276.6 129.9h-7.9v-14.3q0-6-4.3-6a4.2 4.2 0 0 0-3.4 1.6 6 6 0 0 0-1.3 4v14.6h-7.9v-25.6h7.9v4.1h.1a9.1 9.1 0 0 1 8.2-4.7q8.5 0 8.5 10.6v15.7zM19.6.3l10.1 71 45.1-2.6L80 14.3zm43.8 32s-1.2 9.4-1.6 12.1a9.3 9.3 0 0 1-2.5 5.6l-.2.3-.4 2a.5.5 0 0 1-.5.4h-9.6a.5.5 0 0 1-.5-.3c-.4-.7-1.3-2.4-2-3.3s-3.8-2.3-5.9-3.7A1.8 1.8 0 0 1 41 42l.8.2a31.1 31.1 0 0 1 4.2 2h.5a1.1 1.1 0 0 0 1.1-1.1V30a1.8 1.8 0 0 1 3.6 0v6.4a.6.6 0 0 0 .5.6h.3a2.4 2.4 0 0 1 1.3-.4 2.1 2.1 0 0 1 1.6.8l.4.2h.2a2.2 2.2 0 0 1 1.2-.3 2.2 2.2 0 0 1 1.4.5h.3a.6.6 0 0 0 .5-.5l.8-5.2a1.7 1.7 0 0 1 1.8-1.6 1.8 1.8 0 0 1 1.9 1.9zM229.6 39.4a6 6 0 0 0-2.6-.8l-1.8.2h-2.4l-1.6-.2a6 6 0 0 0-2.6.8h-.1l.8.7a7 7 0 0 0 4.7 2.2c2 0 3.5-1.3 4.7-2.3z" />
        <circle class="cls-1" cx="229.3" cy="44.5" r="1.4" />
        <path class="cls-1" d="M202.2 9.5l-6.5 54.7 46.3 9.2L255.8 0zm35.7 29a11.5 11.5 0 0 0-1.5 2.3 17.2 17.2 0 0 1-3.9 5.1 12.7 12.7 0 0 1-8.5 2.7 12.5 12.5 0 0 1-8.1-2.5 16 16 0 0 1-3.7-4.8 13 13 0 0 0-1.7-2.5 1 1 0 0 1-.4-.9.8.8 0 0 1 .5-.5 11 11 0 0 0 3.4-2.8c1.5-1.6 3.1-3.2 5-3.2a7.7 7.7 0 0 1 3.8.9 3 3 0 0 0 1.3.4 3.1 3.1 0 0 0 1.4-.4 7.1 7.1 0 0 1 3.6-.9c1.8 0 3.3 1.5 4.9 3a12.2 12.2 0 0 0 3.6 2.8.9.9 0 0 1 .6.5.7.7 0 0 1-.3.8z" />
        <circle class="cls-1" cx="106.2" cy="39.8" r="2.3" />
        <path class="cls-1" d="M114.7 38.6l-.3-.2a6.2 6.2 0 1 1-11.7 0l-.3.2a11.8 11.8 0 0 0-3.6 3.7 11.8 11.8 0 0 0 3.6 3.7 11.4 11.4 0 0 0 12.3 0 11.8 11.8 0 0 0 3.6-3.7 11.8 11.8 0 0 0-3.6-3.7z" />
        <path class="cls-1" d="M126.3 2L86.7 9.5l-3.3 63.9 54.1 5.8zm-17.8 48.1a13.9 13.9 0 0 1-12.4-7.8 13.8 13.8 0 0 1 24.9 0 13.9 13.9 0 0 1-12.5 7.8zM134.2 9.5l10 61h43l8.4-57.7zm39.6 20.4a4.7 4.7 0 0 1 4.7 4.7 1.4 1.4 0 1 1-2.7 0 2 2 0 0 0-4 0 1.4 1.4 0 0 1-2.7 0 4.7 4.7 0 0 1 4.6-4.7zm-15.1 0a4.7 4.7 0 0 1 4.7 4.7 1.4 1.4 0 1 1-2.7 0 2 2 0 0 0-4 0 1.4 1.4 0 1 1-2.7 0 4.7 4.7 0 0 1 4.7-4.7zm19.7 16.9a13.8 13.8 0 0 1-25 0 1.6 1.6 0 0 1 .9-2.1h.6a1.6 1.6 0 0 1 1.5 1 10.5 10.5 0 0 0 19 0 1.6 1.6 0 1 1 2.9 1.1z" />
    </svg>
</body>
